@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

h2 {
    font-weight: 700;
}

p {
    letter-spacing: 0.32px;
    font-weight: 500;
  }

/* .menu-buttons{
    display: flex;
    flex-direction: column;
} */

.btn-choose{
    font-size: 17px;
    transition: 0.3s all;
    text-align: left;
    width: 100%;
    color: #333;
    font-weight: 600;
    padding: 1.25rem 3rem 1.25rem 3rem;
    border-radius: 20px;
}

.btn-choose-active{
    color: hsl(212, 92%, 41%);
    background-color: hsl(213, 85%, 97%);
    margin-left: -20px;
    transition: 0.3s all;

}

.btn-default{
    background-color: #28D3A1;
    width: 10rem;
    height: 2.8rem;
    color: white;
    border-radius: 100px;
    box-shadow: 0 0 1px 5px #84dcc5db;
    margin: 5px;

}

.item{
    transition: 0.5s all;
    width: 15%;
    height: 550px;
}

.selected {
    transform-origin: bottom;
    transform: scale(1);
    opacity: 1;
    transition: 0.5s all;
}
  
.not-selected {
    transform-origin: bottom;
    transform: scale(0.5);
    opacity: 0.5;
    transition: 0.5s all;
}



.desc-abs {
    left: 0;
    top: 0;
    height: 100%;
    max-width: unset;
}

.appear-animation {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.dissappear-animation {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.input-base {
    position: absolute;
    width: 27%;
    height: 3.2%;
    border: none;
    font-size: 90%;
    text-align: center;
    font-weight: 600;
}

textarea:focus, input:focus{
    outline: none;
}

.select-base{
    border-radius: 10px;
    font-weight: 600;
    padding: 2px 5px;
    border: 2px solid grey;
    width: 220px;
    
}

.carousel .slide img {
    width: unset;
}

.carousel .control-dots{
    display: none;
}

.carousel-arrow {
    border-width: 3px;
    border-style: solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


@media screen and (min-width: 768px){
    .selected-person {
        width: 60%;
        transition: 0.5s all;
    }
    
    .selected-person:last-child button{
        margin: unset;
    }
    
    .selected-person:first-child button{
        margin: unset;
        float: right;
    }
}

@media screen and (max-width: 1210px) {
    .person-img{
        width: 150px;
    }
    .item{
        height: 470px;
    }
  }

@media screen and (max-width: 768px) {
    .not-selected{
        transform: scale(1) !important;
    }
    .select-base{
        width: 100px;
    }
    .item{
        height: 500px;
    }
    .person-img{
        width: 140px !important;
    }
    .item{
        width: unset;
    }
    .translate-left{
        margin-left: -100px;
    }
    .btn-choose{
        font-size: 13px;
        padding: 10px 20px 10px 20px;
        width: unset;
        text-align: center;

    }
    .btn-choose-active{
        margin-left: unset;
    }
  }