@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

h2 {
    font-weight: 700;
}

p {
    letter-spacing: 0.32px;
    font-weight: 500;
  }

/* .menu-buttons{
    display: flex;
    flex-direction: column;
} */

.btn-choose{
    font-size: 17px;
    transition: 0.3s all;
}

.active{
    color: hsl(212, 92%, 41%);
    background-color: hsl(213, 85%, 97%);
    margin-left: -20px;
    transition: 0.3s all;

}

.btn-default{
    background-color: #28D3A1;
    width: 10rem;
    height: 2.8rem;
    color: white;
    border-radius: 100px;
    box-shadow: 0 0 1px 5px #84dcc5db;
    margin: 5px;

}

.selected {
    transform-origin: bottom;
    transform: scale(1);
    opacity: 1;
    transition: 0.5s all;
  }
  
.not-selected {
    transform-origin: bottom;
    transform: scale(0.6);
    opacity: 0.5;
    transition: 0.5s all;
}


.desc-abs {
    left: 0;
    top: 0;
    height: 100%;
    max-width: unset;
}

.appear-animation {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.dissappear-animation {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.input-base {
    position: absolute;
    width: 27%;
    height: 3.2%;
    border: none;
    font-size: 100%;
    text-align: center;
    font-weight: 600;
}

textarea:focus, input:focus{
    outline: none;
}

.select-base{
    border-radius: 10px;
    font-weight: 600;
    padding: 2px 5px;
    border: 2px solid grey;
    width: 200px;
    
}

.item{
    height: 100%;
}

.carousel .slide img {
    width: unset;
}

.carousel .control-dots{
    display: none;
}

.carousel-arrow {
    width: 35px;
    height: 35px;
    border: 3px solid #28D3A1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#28D3A1;
    font-size: 15px;
}